@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Aboreto&family=Playfair+Display&display=swap');

 * {
     margin: 0;
     padding: 0;
     box-sizing: border-box;
 }

 /*animation de fond */
body {

    font-family: 'Poppins', sans-serif;
    
}
 nav a {
    margin: 0 40px;
    text-decoration: none;
    color: white;
    font-size: 23px;
    font-family: 'Aboreto', serif;
    letter-spacing: 2px;

 }



nav {
    display: flex;
    justify-content: center;
    padding: 20px;
    position: fixed;
    min-width: 450px;
    top :0;
    left: 50%;
    transform: translateX(-50%);
    
    
}
 .section{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh; 
 }

 .section h1 {

    font-size: 100px;
    color: antiquewhite;

 }



 @keyframes gradient {
     0% {
         background-position: 0% 50%;
     }

     50% {
         background-position: 100% 50%;
     }

     100% {
         background-position: 0% 50%;
     }
 }


 /*carousel*/
 .carousel {
     position: relative;
     display: flex;
     justify-content: center;
     align-items: center;
    
     object-fit: cover;
    


 }

 .carousel__item {

     padding: 1em;
     display: none;
     border-radius: 130px;
     
 }

 .carousel__item--selected {
     display: block;
     margin: auto;
     height: 700px;
     padding-bottom: 55px;
     margin-top: 60px;
     object-fit: cover;
     background-color: rgba(230,222,198,255)
 }

 .carousel_nav {
     width: 100%;
     padding: 20px 0;
     position: absolute;
     bottom: 0;
     left: 0;
     text-align: center;
 }

 .carousel_button {
     width: 20px;
     height: 20px;
     display: inline-block;
     background:burlywood;
     border-radius: 50%;
     margin: 0 5px;
     cursor: pointer;
 }

 .carousel_button--selected {
     background: rgb(255, 255, 255);
 }


 /*chronomètre 10 secs*/

 .container {
     
     left: 50px;
     top: 50%;
     transform: translateY(-50%);
     width: 200px;
     height: 200px;
     display: flex;
     align-items: center;
     justify-content: center;
     color: #151212;
     font-size: 80px;
     font-weight: bold;

     

 }
          

#section-first{
    background: linear-gradient(-45deg, #8aac96d1, #049c375f, hsla(256, 16%, 73%, 0.943), #f0daf1);
    animation: gradient 15s ease infinite;
    background-size: 400% 400%;

}

#explication {
 background-color: rgb(235, 211, 234);
 display: flex;
 flex-direction: column;

}

#explication h1 {
    text-align: center;
    width: 50%;

    
}

#explication p{
    text-align: center;
    width: 50%;
    font-size: 20px;   
}

#exercice{
    background-color: rgba(230,222,198,255)
}
 .first-container h1 {
    font-size: 3rem;
    padding: 0.5rem;
    font-weight: bold;
    letter-spacing: 0.1rem;
    text-align: center;
    overflow: hidden;
   
  }

  #section-first h1 span.typed-text {
    font-weight: normal;
    color: #f1c2eb;
  }
  #section-first h1 span.cursor {
    display: inline-block;
    background-color: #ccc;
    margin-left: 0.1rem;
    width: 3px;
    animation: blink 1s infinite;
  }
  #section-first h1 span.cursor.typing {
    animation: none;
  }
  @keyframes blink {
    0%  { background-color: #ccc; }
    49% { background-color: #ccc; }
    50% { background-color: transparent; }
    99% { background-color: transparent; }
    100%  { background-color: #ccc; }
  }