
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body {
    height: 500px;
    width: 500px;
    font-family: 'Poppins', sans-serif;
    color: white;
}

.video{
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1;
}

.header {
    display: flex;
    justify-content: space-around;
}

.header img{
    margin-left: 50px;
}

.header h1{
    margin-right: 150px;
}

img {
    height: 50px;
    margin-right: 15px;   

}


.text {
    text-align: center;
    font-size: medium;
}

.chrono-buttons{
    display: flex;
    justify-content: space-evenly;
    height: 40%;
    padding-bottom: 30px;
}
#time{
    display: flex;
    border-radius: 50%;
    width: 200px;
    justify-content: center;    
    align-items: center;
    height: 100%;
    font-size: 2rem;
    color: white;
}

#start-timer-btn, #reset-timer-btn {
    display: flex;
    border-radius: 50%;
    width: 120px;  
    justify-content: center;
    align-items: center;
    height: 60%;
    margin-top: 72px;
    background: none;
    color: white;
    transition: background-color 2s,
    rotate 2s;
} 

#start-timer-btn:hover, #reset-timer-btn:hover{
    background-color: none;
    rotate: 360deg;
}

.break {
    display: flex;
}

.choose {
    display: flex;
    justify-content: space-between;
}

.choose input {
    background: none;
    border: none;
    color: white;
}

.choose input::placeholder{
    color: white;
}


.choose button{
    background: none;
    border: none;
    color: white;
    border-radius: 50%;
}

.times button{
    height: 50px;
    margin-left: 15px;
    color: white;
    background: none;
    border-radius: 50%;
    transition: background-color 2s,
    rotate 2s;
}

.times button:hover{
    background-color: none;
    rotate: 360deg;
}

.music{
    display: flex;
    justify-content: space-around;
}

.music input{
    height: 30px;
    margin-left: 15px;
    color: white;
    background: none;
    border: none;
    border-radius: 50%;
    transition: background-color 2s,
    rotate 2s;
}

.music input:hover{
    background-color: none;
    rotate: 360deg;
}

.fadeIn{
    transition: 1s ease;
}

.dissapear{
    scale: 0;
}

.nodissapear{
    scale: 1;
}

#back-main-screen{
    height: 45px;
    margin-left: 15px;
    color: white;
    background: none;
    border-radius: 50%;
    transition: background-color 2s,
    rotate 2s;
}

#back-main-screen:hover{
    background-color: none;
    rotate: 360deg;
}